In [80]:
# load and summarize the housing dataset
import pandas as pd
from matplotlib import pyplot
# use automatically configured the lasso regression algorithm
import numpy as np
from sklearn.linear_model import LassoCV
from sklearn.model_selection import RepeatedKFold
import pickle



training_data = pd.read_csv('06_Data_Science/labeled_data.csv')

In [81]:
training_data.head()

,time,player_id,mate_id,team_id,decision,goal_team_1,goal_team_2,goal_1_post_1_x,goal_1_post_1_y,goal_1_post_2_x,...,player_2_alpha,player_3_x,player_3_y,player_3_alpha,player_4_x,player_4_y,player_4_alpha,ball_x,ball_y,label
0,0.00,1,2,1,shoot,0,0,1185,251,1195,...,297.81,314.25,248.25,330.49,288.00,445.00,42.48,637.00,352.50,-0.579031
1,0.31,1,2,1,shoot,0,0,1185,251,1195,...,293.56,329.00,255.50,330.54,287.25,444.50,27.27,646.92,369.92,-0.579031
2,0.96,1,2,1,shoot,0,0,1185,251,1195,...,212.84,417.75,301.00,331.29,346.25,428.00,8.40,650.48,336.25,-0.579031
3,1.27,1,2,1,shoot,0,0,1185,251,1195,...,213.88,465.00,325.00,330.54,405.50,414.75,7.09,654.00,330.50,-0.579031
4,1.94,1,2,1,shoot,0,0,1185,251,1195,...,214.97,542.50,369.00,349.79,442.50,405.00,300.47,655.00,337.00,-0.579031

In [82]:
# 5 possible decisions
# 0 ... shoot
# 1 ... center
# 2 ... guard
# 3 ... intercept
# 4 ... recover

def replace_cat_variables(df,column):
    for index in df.index:
        if df[column][index] == "shoot":
            df[column][index] = 0
        elif df[column][index]  == "center":
            df[column][index] = 1
        elif df[column][index] == "guard":
            df[column][index] = 2
        elif df[column][index] == "intercept":
            df[column][index] = 3
        elif df[column][index] == "recover":
            df[column][index] = 4
        else:
            print("this should not happen :(")

replace_cat_variables(training_data,"decision")

training_data.head()

,time,player_id,mate_id,team_id,decision,goal_team_1,goal_team_2,goal_1_post_1_x,goal_1_post_1_y,goal_1_post_2_x,...,player_2_alpha,player_3_x,player_3_y,player_3_alpha,player_4_x,player_4_y,player_4_alpha,ball_x,ball_y,label
0,0.00,1,2,1,0,0,0,1185,251,1195,...,297.81,314.25,248.25,330.49,288.00,445.00,42.48,637.00,352.50,-0.579031
1,0.31,1,2,1,0,0,0,1185,251,1195,...,293.56,329.00,255.50,330.54,287.25,444.50,27.27,646.92,369.92,-0.579031
2,0.96,1,2,1,0,0,0,1185,251,1195,...,212.84,417.75,301.00,331.29,346.25,428.00,8.40,650.48,336.25,-0.579031
3,1.27,1,2,1,0,0,0,1185,251,1195,...,213.88,465.00,325.00,330.54,405.50,414.75,7.09,654.00,330.50,-0.579031
4,1.94,1,2,1,0,0,0,1185,251,1195,...,214.97,542.50,369.00,349.79,442.50,405.00,300.47,655.00,337.00,-0.579031

In [83]:
#define eval method
cross_val = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
#n_jobs = Number of CPUs to use during the cross validation. -1 means using all processors.
model = LassoCV(alphas=(0,1,0.01), cv=cross_val,n_jobs=-1)

y = training_data["label"]
X = training_data.iloc[:,:-1]

In [84]:
model.fit(X,y)

LassoCV(alphas=(0, 1, 0.01), copy_X=True,
        cv=RepeatedKFold(n_repeats=3, n_splits=10, random_state=1), eps=0.001,
        fit_intercept=True, max_iter=1000, n_alphas=100, n_jobs=-1,
        normalize=False, positive=False, precompute='auto', random_state=None,
        selection='cyclic', tol=0.0001, verbose=False)

In [85]:
print('alpha: %f' % model.alpha_)

alpha: 0.000000

ValueError: Expected 2D array, got 1D array instead:
array=[ 2.60000000e+00  1.00000000e+00  2.00000000e+00  1.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  1.18500000e+03
  2.51000000e+02  1.19500000e+03  4.84000000e+02  1.00000000e+02
  2.34000000e+02  8.10000000e+01  4.58000000e+02  8.95500000e+02
  3.01750000e+02  9.55000000e+00  1.20350000e+03  3.51250000e+02
  2.14970000e+02  6.11250000e+02  3.46000000e+02  1.90600000e+01
  4.53500000e+02  4.57500000e+02  2.97270000e+02  6.69900000e+02
  3.45900000e+02 -5.79031441e-01].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
import pickle
#dataset save & load with pickle